doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Hi
		link(rel="stylesheet", href="css/app.css")

	body
		include ../partials/_nav

		block content